body{font-size:14px;line-height:22px;font-family:Helvetica, Arial, "Microsoft YaHei",sans-serif;padding:0;margin:0;background:#fff;}
.code{display:block;position:fixed;width:90%;height:100%;left:30px;top:15px;font-family:Monaco, Consolas, "Lucida Console", monospace;font-size:12px;line-height:20px;outline:0;resize:none;text-align:right;overflow-x:hidden;}
.code textarea{display:block;width:99%;height:45%;*height:expression(documentElement.clientHeight * 0.45);}/*ie7 hack*/
.code .tip{color:#bbb;font-size:14px;}
.button{font-size:14px;padding:5px 10px;}
#sandbox{height:45%;}
