# xml to json data converter #
##############################
xmldata2JSON/

# code packer - php version                        #
# http://joliclic.free.fr/php/javascript-packer/en/#
####################################################
packer.php-1.1/

# nodejs (required by uglifyjs) #
# http://nodejs.org/dist/       #
#################################
node.exe

# uglifyjs                             #
# https://github.com/mishoo/UglifyJS   #
#                                      #
# silightly modified version           #
# https://github.com/michalliu/UglifyJS#
########################################
UglifyJS/


